.container {
  margin-top: 50px;
  :global .MuiPagination-ul {
    justify-content: center;
  }
  :global .MuiPaginationItem-root.Mui-selected {
    background-color: skyblue !important;
    color: white;
  }
}
