.container {
  margin-top: 100px;
}

.title {
  font-size: 40px;
}

.repositoryListWrap {
  list-style: none;
  padding-left: 0px;
}

.repositoryTitle {
  font-size: 24px;
}

.contributeListWrap {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap:4px;
}

.contributeItem {
  list-style-type: disc;
  padding: 0 0 0 5px;
  margin: 0 0 0 20px;
  font-size: 18px;
  a{
    color:black;
  }
  a:hover{
    color:skyblue;
  }
}

