.container {
  width: 100%;
  height: 59px;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 59px;
  margin: 0 30px;
}

@media (min-width: 1215px) {
  .wrapper {
    margin: auto;
  }
}

.logo {
  margin-right: 5px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.nav {
  & > ul {
    margin: 0;
    & > li {
      margin: 0;
      list-style: none;
    }
  }
}
