.title {
  font-size: 40px;
}

.listWrap {
  list-style: none;
  padding-left: 0px;

}

.listHeader{
  display: flex;
  gap: 10px;
  align-items: center;
  h3{
    font-size:24px
  }
}
.listContents{
  margin:0;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  li{
    font-size: 18px;
  }
}