.container {
  width: 100%;
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: black;
  &:hover {
    .title {
      color: lightblue;
    }
  }
}

.thumbnail {
  width: 282px;
  height: 187px;
  border-radius: 10px;
}

.textContent {
  width: calc(100% - 302px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.category {
  font-size: 15px;
  color: rgb(139, 149, 161);
  margin-bottom: 3px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  font-size: 17px;
  color: rgb(78, 89, 104);
  margin-bottom: 8px;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  font-size: 15px;
  color: rgb(139, 149, 161);
  margin-bottom: 8px;
}

@media (max-width: 700px) {
  .thumbnail {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .container {
    flex-direction: column;
  }

  .textContent {
    width: 100%;
  }
}
