.container {
  max-width: 1140px;
  margin: 80px 30px 50px 30px;
}

@media (min-width: 1215px) {
  .container {
    margin: 80px auto 50px auto;
  }
}

.empty {
  height: calc(100vh - 404.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
}
