.container {
}

.wrapper {
  display: flex;
  margin: 0 0 30px 0;
  padding: 0;
}

.content {
  list-style: none;
  font-size: 22px;
  font-weight: 500;
  color: rgba(6, 11, 17, 0.48);
  padding: 10px 20px;
  margin: 0;
  cursor: pointer;
  &:hover {
    color: black;
  }
}

.contentSelected {
  color: black;
}
